#settings--plugins-install-searchCont {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 4em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-property: top, left, right, bottom, width, height, font-size;
  z-index: 50;
  background-color: var(--components-primary-color);
}

#settings--plugins-install-searchCont[data-size="large"] {
  height: 100%;
  font-size: 3em;
  flex-flow: column wrap;
}

#settings--plugins-install-searchBox {
  width: 100%;
}

#settings--plugins-install-infoCont {
  width: 100%;
  height: 100%;
  padding-top: 4.5em;
}

#settings--plugins-install-infoCont-placeholder {
  width: 0%;
  height: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--components-secondary-color-contrast);
  font-size: 2em;
  -webkit-user-select: none;
  opacity: 0;
  pointer-events: none;
  z-index: 100;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-property: opacity, width, height, background-color;
}

#settings--plugins-install-infoCont-placeholder.shown {
  opacity: 1;
  pointer-events: auto;
  width: 100%;
  height: 100%;
  background-color: var(--components-primary-color);
}
#settings--plugins-install-progressCont .component.spinner {
  flex-grow: 0;
}
