<link href="./views/my-packages/main.css" rel="stylesheet" type="text/css"/>
<div id="myPackages--top-bar">Loading more items below...</div>
<div id="myPackages--optCont">
  <div id="myPackages--optCont-view">
    <span style="font-size: 1.2em;" class="component">Filter by:</span>
  </div>
  <div id="myPackages--optCont-listType">
    <span style="font-size: 1.2em;" class="component">List Type:</span>
  </div>
</div>
<div id="myPackages--shadow"></div>
<div id="myPackages--cardCont">
  <div id="myPackages--cardCont-placeholder">
    It's lonely in here! Go install something!
  </div>
</div>
<script>requireNoCache('./views/my-packages/index.js');</script>
