<link href="./views/uninstall/main.css" rel="stylesheet" type="text/css"/>
<div id="uninstall--inputCont" data-size="large"></div>
<div id="uninstall--infoCont">
  <div id="uninstall--infoCont-placeholder" class="shown">
    Type in something to uninstall up there!
  </div>
  <div id="uninstall--infoCont-header" class="component">
    <span id="uninstall--infoCont-heading">?</span>
  </div>
  <div id="uninstall--infoCont-body">
    <p>
      Something is screwy here...
    </p>
  </div>
  <div id="uninstall--infoCont-footer" class="component">
    <span>What gives?!</span>
  </div>
</div>
<script>requireNoCache('./views/uninstall/index.js');</script>
