<link href="./views/update/main.css" rel="stylesheet" type="text/css"/>
<div id="update--inputCont" data-size="large"></div>
<div id="update--infoCont">
  <div id="update--infoCont-placeholder" class="shown">
    Type in something to update up there!
  </div>
  <div id="update--infoCont-header" class="component">
    <span id="update--infoCont-heading">?</span>
  </div>
  <div id="update--infoCont-body">
    <p>
      Something is screwy here...
    </p>
  </div>
  <div id="update--infoCont-footer" class="component">
    <span>What gives?!</span>
  </div>
</div>
<script>requireNoCache('./views/update/index.js');</script>
