@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.component.spinner {
  border-radius: 50%;
  height: 2em;
  width: 2em;
  border: 0.5em solid var(--components-secondary-color-contrast);
  border-top: 0.5em solid var(--components-secondary-color);
  animation: spin 1.5s linear infinite;
  margin: 0.5em;
}
