.component.card {
  box-shadow: 0 0 10px var(--components-primary-color-contrast);
  background-color: var(--components-primary-color);
  width: fit-content;
  height: fit-content;
  margin: 0.5em;
  display: flex;
  flex-flow: column wrap;
}

.component.card--header {
  width: 100%;
  background-color: var(--components-secondary-color);
  padding: 0.25em;
  color: var(--components-primary-color);
}

.component.card--heading {
  font-size: 1.5em;
}

.component.card--body {
  padding: 0.25em;
  width: 100%;
  background-color: inherit;
  flex-grow: 1;
}

.component.card--footer {
  width: 100%;
  background-color: var(--components-secondary-color-contrast);
  padding-left: 0.25em;
  padding-right: 0.25em;
  padding-top: 0.25em;
  padding-bottom: 0.1em;
  font-size: 0.9em;
}
