.component.text-input {
  font-family: inherit;
  font-size: 1em;
  padding: 0.25em 0.5em;
  border: none;
  border-bottom: 0.2em solid var(--components-secondary-color-contrast);
  transition: 0.2s border-bottom-color ease-in-out;
  margin: 0.25em;
  outline: none !important;
}

.component.text-input::-webkit-input-placeholder {
  opacity: 1;
  transition: 0.2s opacity ease-in-out;
}

.component.text-input:focus {
  border-bottom-color: var(--components-secondary-color);
}

.component.text-input:focus::-webkit-input-placeholder {
  opacity: 0;
}

/* contrast */
.component .component.text-input:focus {
  border-bottom-color: var(--components-primary-color);
}

/* primary-bg reset */
.component.primary-bg .component.text-input:focus {
  border-bottom-color: var(--components-secondary-color);
}
