<link href="./views/manage/main.css" rel="stylesheet" type="text/css"/>
<div id="manage--inputCont" data-size="large"></div>
<div id="manage--infoCont">
  <div id="manage--infoCont-placeholder" class="shown">
    Give me a package to manage!
  </div>
  <div id="manage--infoCont-header" class="component">
    <span id="manage--infoCont-heading">?</span>
  </div>
  <div id="manage--infoCont-body">
    <p>
      Something is screwy here...
    </p>
  </div>
  <div id="manage--infoCont-footer" class="component">
    <span>What gives?!</span>
  </div>
</div>
<script>requireNoCache('./views/manage/index.js');</script>
