#firstTimeOuterCont {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#firstTimeCont {
  display: flex;
  flex-flow: column wrap;
}

#firstTimeProgressCont {
  display: flex;
  justify-content: center;
  align-items: center;
}

#firstTimeProgressCont .component.progress-bar {
  flex-grow: 2;
}

#firstTimeProgressCont .component.spinner {
  flex-grow: 0;
}
