<link href="./views/install/main.css" rel="stylesheet" type="text/css"/>
<div id="install--inputCont" data-size="large"></div>
<div id="install--infoCont">
  <div id="install--infoCont-placeholder" class="shown">
    Type in something to install up there!
  </div>
  <div id="install--infoCont-header" class="component">
    <span id="install--infoCont-heading">?</span>
  </div>
  <div id="install--infoCont-body">
    <p>
      Something is screwy here...
    </p>
  </div>
  <div id="install--infoCont-footer" class="component">
    <span>What gives?!</span>
  </div>
</div>
<script>requireNoCache('./views/install/index.js');</script>
